* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

header {
  padding: 20px;
  background-color: #0d1011;
  color: #ffffff;
}

header h1 {
  background-color: darkcyan;
  display: inline-block;
  font-size: 48px;
  color:rgb(59, 54, 54);
}

main h1 {
  display: inline-block;
  font-size: 48px;
}

.greeting {
  height: 130px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("./Assets/jun.jpg");
  background-size: 20%;
  background-position: center;
}

.greeting h2 {
  margin-bottom: 20px;
  font-size: 50px;
  text-align: right;
  color: white;
  vertical-align: center;
}

span {
  background-color: lightblue;
}

h3 {
  margin-bottom: 10px;
  text-align: left;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  display: flex;
}

main nav {
  padding-top: 15px;
  margin-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-left: 25px;
}

header a {
  color: #2dd4da;
  text-decoration: underline;
}

main a {
  color: black;
  text-decoration: underline;
}

.card img {
  width: 50%;
}

@media screen and (max-width: 768px) {
  header nav {
    flex-direction: column;
  }
}
